node_modules
tmp
dist
.vscode
coverage

/lib
output


# NOTE: adding package-lock.json since there are issues relating to versioning when pulling
#       code directly from GitHub.
# TODO: port shared code to an actual npm registry and re-enable package-lock versioning.
package-lock.json

**/scratch.*