name: RunTests
on:
  push:
    branches: ['main', 'develop']
  pull_request:
    branches: ['main']
    types: [opened, reopened, edited]
  workflow_call:

permissions:
  contents: read
  packages: read

jobs:
  RunTestSuite:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Run Test Suite
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo and submodules
        uses: actions/checkout@v4

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install node packages
        run: npm install
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: npm run test:ci
        env:
          NODE_OPTIONS: '--experimental-vm-modules'

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2.21.0
        if: always()
        with:
          files: ./coverage/test-report/test-report.xml

      - name: Publish Code Coverage
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/cobertura-coverage.xml
          badge: true
          format: markdown
          output: both

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Write to job Summary
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY
